<div>
  <md-input-container>
    <input mdInput type="text" [(ngModel)]="box.name" (change)="onUpdateBox()" [disabled]="disabled">
  </md-input-container>
  <md-slide-toggle type="checkbox" [(ngModel)]="box.public" (change)="onUpdateBox()" [disabled]="disabled">Show in public list</md-slide-toggle>
</div>
<div class="row" *ngFor="let row of box.data; let i=index">
  <div [ngClass]="currentNote == j ? 'highlight' : '' " *ngFor="let col of row; let j=index">
    <md-checkbox [checked]="col" (change)="toggleNote(i, j)" [disabled]="disabled"></md-checkbox>
  </div>
</div>
