<!--The whole content below can be removed with the new code.-->

<div class="left-nav">
  <app-authentication></app-authentication>
  <h3 *ngIf="($myMusicalBoxList | async).length > 0">My Music</h3>
  <app-musical-box-list [musicalBoxList]="$myMusicalBoxList | async" (selectBox)="selectMyBox($event)"></app-musical-box-list>
  <h3 *ngIf="($publicMusicalBoxList | async).length > 0">Public Music</h3>
  <app-musical-box-list [musicalBoxList]="$publicMusicalBoxList | async" (selectBox)="selectPublicBox($event)"></app-musical-box-list>
</div>

<div class="content">
  <button>menu</button>
  <h1>Musical Box</h1>
  
  <app-musical-box [box]="box" [disabled]="boxDisabled" (updateBox)="updateBox($event)"></app-musical-box>

  <button class="add-button" (click)="addBox()">add</button>
</div>
