md-sidenav {
  width: 200px;
  text-align: center;
  padding: 10px;
}

.add-button {
    position: fixed !important;
    top: 30px;
    right: 15px;
}

.left-nav {
  width: 20%;
  float: left;
}

.content {
  width: 80%;
  float: left;
}